{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolarPV - Sign Up</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
</head>
<body class="page-container">
    <header class="page-header">
        <aside class="header-aside-left">
            <section class="logo-container">
                <a class="logo-link" href="{% url 'index' %}">
                    <img class="logo-img" src="{% static 'assets/solarpv-logo.svg' %}" alt="solarPV company logo" />
                    <img class="logo-banner" src="{% static 'assets/solarpv-logo-banner.svg' %}" alt="solarPV company R&D banner" />
                </a>
            </section>
        </aside>
        <aside class="header-aside-right">
            <section class="header-right-list-container">
                <ul class="header-right-link-list">
                    <li class="header-right-link-list-item">
                        <a class="about-us-link" href="./about-us.html">About Us</a>
                    </li>
                    <li class="header-right-link-list-item">
                        <a class="contact-us-link" href="./contact-us.html">Contact Us</a>
                    </li>
                </ul>
            </section>
            <section class="social-media-links-container">

            </section>
        </aside>
        <section class="signup-banner-container">
            <h1 class="signup banner">Sign Up Below!</h1>
        </section>
    </header>

    <main class="main-content">
        <section class="signup-form-container">
            <form class="signup-form" action="" method="POST">
                {% csrf_token %}
                <section class="input-container">
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username" required>
                </section>
                <section class="input-container">
                    <label class="input-label" for="pwd">Password: </label>
                    <input type="password" id="pwd" name="password">
                </section>
                <section class="input-container">
                    <label class="input-label" for="firstname">First Name: </label>
                    <input type="text" id="firstname" name="firstName">
                </section>
                <section class="input-container">
                    <label class="input-label" for="middle-initial">Middle Initial: </label>
                    <input type="text" id="middle-initial" name="middleInitial">
                </section>
                <section class="input-container">
                    <label class="input-label" for="lastname">Last Name: </label>
                    <input type="text" id="lastname" name="lastName">
                </section>
                <section class="input-container">
                    <label class="input-label" for="gender">Gender: </label>
                    <input type="radio" id="male" name="gender">
                    <label for="male">male</label>
                    <input type="radio" id="female" name="gender">
                    <label for="female">female</label>
                    <input type="radio" id="other" name="gender">
                    <label for="other">other</label>
                </section>
                <section class="input-container">
                    <label class="input-label" for="address">Address: </label>
                    <input type="text" id="address" name="streetAddress">
                </section>
                <section class="input-container">
                    <label class="input-label" for="city">City: </label>
                    <input type="text" id="city" name="city">
                </section>
                <section class="input-container">
                    <label class="input-label" for="state">State</label>
                    <select name="state" id="uSState">
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>	
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>	
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>	
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>	
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>			
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>	
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                    </select>
                </section>
                <section class="input-container">
                    <label class="input-label" for="zipcode">Zip Code: </label>
                    <input type="number" id="zipcode" name="zipcode">
                </section>
                <section class="input-container">
                    <label class="input-label" for="city">Email: </label>
                    <input type="email" id="email" name="email" required>
                </section>
                <section class="input-container">
                    <label class="input-label" for="city">Phone Number: </label>
                    <input type="tel" id="phone-number" name="phoneNumber">
                </section>
                <section class="input-container">
                    <label class="input-label" for="city">Company: </label>
                    <input type="text" id="company" name="company" required>
                </section>
                <section class="input-container">
                    <input type="submit" class="submit-btn" value="Sign up!">
                </section>
            </form>
        </section>
        <aside class="login-link-container">
            <p class="login-banner"></p>
            <a class="login-link" href=""></a>
        </aside>
        {% if messages %}
                {% for message in messages %}
                <h2>{{message}}</h2>
                {% endfor %}
                {% endif %}
    </main>

    <footer class="page-footer">
        <section class="footer-logo-container">
            <a class="footer-logo-link" href="{% url 'index' %}">
                <img class="footer-logo-img" src="{% static 'assets/solarpv-logo.svg' %}" alt="solarPV company logo" />
            </a>
        </section>
        <section class="footer-container">
            <p class="footer-sub-section company-info">
                Address, Phone, Email, Website
            </p>
            <p class="footer-sub-section copyright-container">
                @ 2019 All Rights Reserved
            </p>
        </section>
        <ul class="footer-nav-list">
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">Site Map</a>
            </li>
            |
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">Terms & Conditions</a>
            </li>
            |
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">Privacy Policy</a>
            </li>
            |
            <li class="footer-nav-list-item">
                <a class="footer-nav-link" href="">About Us</a>
            </li>
        </ul>
    </footer>
</body>
</html>